<?xml version="1.0" encoding="UTF-8"?>
<!-- configuration file for LogBack (slf4J implementation)
See here for more details: http://gordondickens.com/wordpress/2013/03/27/sawing-through-the-java-loggers/ -->
<configuration scan="true" scanPeriod="30 seconds">


	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss SSS} [%t] %-5level %logger{0} - %msg%n</pattern>
		</encoder>
	</appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.home}/node-agent.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.home}/node-agent.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss SSS} [%t] %-5level %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="process" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.home}/auto-recovery.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.home}/auto-recovery.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="argo.node.agent.server.status.ProcessStatusManager" level="info" additivity="false">
        <appender-ref ref="process"/>
    </logger>

    <root level="error">
        <appender-ref ref="file" />
    </root>

	<!-- 
	<logger name="argo.node.agent.server.NodeAgentServer" level="trace"
		additivity="false">
		<appender-ref ref="file" />
	</logger>
	 -->
</configuration>
